<launch>
    <arg name="node_start_delay" default="3.0" /> 
    <arg name="node_start_delay2" default="2.0" /> 
	<node pkg="turtlesim" type="turtlesim_node" name="el_turlesim" />
	<node pkg="rosservice" type="rosservice" name="kill_turtle_1" args="call /kill 'turtle1'"/>
	<!-- <node pkg="rosservice" type="rosservice" name="kill_turtle_2" args="call /kill 'turtle2'"/> -->
	<node pkg="rosservice" type="rosservice" name="load_turtle1" args="call /spawn 5 9 4.71 'turtle1'" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "/>
	<node pkg="rosservice" type="rosservice" name="load_turtle2" args="call /spawn 1 5 0 'turtle2'" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="perpendicular" type="rosmove.py" name="perpendicular1" />/
    <node pkg="perpendicular" type="rosmove2.py" name="perpendicular2" />
</launch>
